@import "layout/layout";
@import "header/header";
@import "customButton/customButton";
@import "form/form";
@import "card/card";
@import "loader/loader";
@import "errorPage/errorPage";


.content {
  padding: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
