.appointment_form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &_left_side {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_date_picker {
      display: flex;
      justify-content: space-between;
    }
  }

  &_right_side {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}