$colors: (headerBtn:#001529, authBtn:#ffffff, disableBtn:#626262);


button {
  background: transparent;
  padding: 1em 2em;
  cursor: pointer;
  border: 0;
  font: inherit;
  transition: 0.25s;
  font-weight: bold;


  &:hover {
    color: #fff;
  }

  &.headerBtn {
    margin: 0 5px;
  }

  &.authBtn {
    margin: 0 5px;
    color: white;
    border-bottom: 1px solid white;
    position: absolute;
    bottom: 100px;
    left: 25px;
  }

  &.disabled {
    color: #626262;
    margin: 0 5px;
    cursor: default;
  }

  &.headerBtn:hover, .headerBtn:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
  }

  &.authBtn:hover {
    box-shadow: inset 0 0 0 2em var(--hover);
    color: #001529;
  }
}


@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}


